<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PointAge Admin</title>
    <link href="~/css/StyleSheet1.css" rel="stylesheet" />
    <link href="~/css/StyleSheet2.css" rel="stylesheet" />
</head>
<body>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - PointAge</p>
        </footer>
    </div>
</body>
</html>
